<h1>Permission#index</h1>
<p>Find me in app/views/permission/index.html.erb</p>
<%if @permissions.empty? %>
	No permissions to display
<% else %>	
	<table>
		<tr>
			<th>User</th>
			<th>Provider</th>
			<th>Uid</th>
			<th>Name</th>
			<th>Image</th>
			<th>URL</th>
		</tr>
		<% for p in @permissions %>
			<tr>
				<td><%= p.user_id %></td>
				<td><%= p.provider %></td>
				<td><%= p.uid %></td>
				<td><%= p.name %></td>
				<td><%= image_tag "#{p.profile_image_url}", :size => "32x32" %></td>
				<td><%= p.url %></td>
				<td><%= link_to "Remove", permission_destroy_path(:id => p.id), :confirm => 'Are you sure?', :method => :delete %></td>
				<%# link_to "Remove", authentication, :confirm => 'Are you sure?', :method => :delete, :class => "remove" %>
			</tr>
		<% end %>
	</table>
<% end %>	

