<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @permission.name %>
</p>

<p>
  <strong>Profile image url:</strong>
  <%= @permission.profile_image_url %>
</p>

<p>
  <strong>Provider:</strong>
  <%= @permission.provider %>
</p>

<p>
  <strong>Token:</strong>
  <%= @permission.token %>
</p>

<p>
  <strong>Token secret:</strong>
  <%= @permission.token_secret %>
</p>

<p>
  <strong>Uid:</strong>
  <%= @permission.uid %>
</p>

<p>
  <strong>User:</strong>
  <%= @permission.user_id %>
</p>

<%= link_to 'Edit', edit_permission_path(@permission) %> |
<%= link_to 'Back', permissions_path %>
